<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/show" method="get">
        Name:<input type="text" name="name" placeholder="Enter player name"><br><br>
        Email: <input type="email" name="email" placeholder="Enter email"><br><br>
        Age: <input type="number" name="age" placeholder="Enter age"><br><br>
        <input type="submit" value="Submit">
     </form><br>
     <a href="/">Back to Base Page</a>
</body>
</html>